# Ignore node_modules everywhere
**/node_modules/

# Ignore all .env files in any folder
**/.env

# Ignore log files
*.log

# Ignore OS and IDE files
.DS_Store
.vscode/

# Ignore build artifacts
**/build/
**/dist/

# Ignore coverage reports
coverage/
