@import "tailwindcss";
@plugin "daisyui";

/* html, body, #root {
  height: 100%;
  overflow: hidden; 
} */
/* :root{
    font-family:Inter,system-ui,Avenir,Helvetica,Arial, Helvetica, sans-serif;
} */